<!DOCTYPE html>
<html manifest="rdvmap.manifest">
<head>
  <meta charset="utf-8">
  <title> <%= title %> </title>
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="apple-touch-startup-image" href="images/bg.png">
	<link rel="apple-touch-icon-precomposed" href="icon.png">
	<link rel="apple-touch-icon" href="im/h-apple-touch-icon.png">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="libs/jquery.mobile/jquery.mobile-1.2.0.css" />
	<link rel="stylesheet" href="css/jquery.ui.datepicker.css" />
	<link rel="stylesheet" href="css/index.css" />
</head>
<body>
<div id="root" data-role="page">
</div><!-- /page -->
