<% include header.html %>

<link rel="stylesheet" href="/css/index.css" />

<div id="index" data-url="/index" data-role="page">
    
	<div data-role="header">
		<a href="#" data-icon="refresh" data-iconpos="notext" class="ui-btn-left refresh">Rafraichir</a>
		<h1><%= title%></h1>
	</div><!-- /header -->

	<div data-role="content">	
		<div id="rdvs">
		</div>
	</div><!-- /content -->

</div><!-- /page -->

<div id="rdvDetails" data-url="rdv" data-role="page" data-add-back-btn="true">

	<div data-role="header">
		<h1>Détails du rdv</h1>
	</div><!-- /header -->

	<div data-role="content">	
		<div id="contentRdv">
		</div>
	</div><!-- /content -->

</div><!-- /page -->

<% include scripts.html %>

<script src="../js/models/rdv.js"></script>
<script src="../js/collections/rdvlist.js"></script>
<script src="../js/views/rdv/list.js"></script>
<script src="../js/views/rdv/details.js"></script>
<script src="../js/router.js"></script>

<% include footer.html %>

