<ul data-role="listview" data-inset="true">
    <li class="flipComplet" data-role="fieldcontain">
        <label for="flipComplet">Afficher les matchs complets</label>
	    <select name="sliderComplet" id="flipComplet" data-role="slider">
		    <option value="no">No</option>
		    <option selected="selected" value="yes">Yes</option>
	    </select> 
    </li>
    <li class="sliderNb" data-role="fieldcontain">
        <label for="slider" id="slider-label">Nombre max de matchs affichés</label>
        <input type="number" data-type="range" name="slider" id="slider" value="10" min="0" max="15">
    </li>
    <li data-role="fieldcontain">
        <a href="#players">
            Liste des joueurs
            <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
        </a>
    </li>
    <li data-role="fieldcontain">
        <a href="#new_player">
            Création de joueur
            <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
        </a>
    </li>
    <li data-role="fieldcontain">
        <a href="#" class="deconnect">
            Se déconnecter
            <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
        </a>
    </li>
</ul>
<h3>Mes informations</h3>