<% function field(type, id, label, value){%>
	<div id="<%=id%>" class="fieldset field-<%=type%>">
		<label><%=label %></label>
		<div class="fieldwrap">
			<input type="<%=type%>" name="<%=id%>" value="<%=value%>" placeholder="<%=label%>" />
		</div>
	</div>
<% } %>
<div data-role="fieldcontain">
    <h3>Création de match</h3>
</div>
<div data-role="fieldcontain">
    <div id="MatchDate"></div>
</div>
<fieldset data-role="fieldcontain">
<select name="select-loc" id="selectLoc">
<%_.each(localisations, function(loc, index){%>
    <option <% if(index == 0){ %> selected="selected" <%} %> value="<%=index %>"><%=loc %></option>
<%});%>
</select>
</fieldset>
<fieldset data-role="controlgroup" data-type="horizontal">
<select name="select-hour" id="select-hour">
	            <option value="11">11</option>
			    <option selected="selected" value="12">12</option>
			    <option value="13">13</option>
			    <option value="14">14</option>
			    <option value="18">18</option>
			    <option value="19">19</option>
			    <option value="20">20</option>
			    <option value="21">21</option>
</select>
<select name="select-min" id="select-min">
	            <option selected="selected" value="00">00</option>
			    <option value="15">15</option>
			    <option value="30">30</option>
			    <option value="45">45</option>
</select>
</fieldset>
<% field('text', 'MatchNb', 'Nombre de joueurs', '8');%>
<div data-role="fieldcontain">
    <a href="#" id="add" class="button" type="button" data-ajax="false" data-role="button" data-inline="true" data-theme="b">Save</a>
</div>